:root {
--background-main: #f2f2f2;
--white:#ffffff;
--white-opacity:rgba(255,255,255,0.3);
--blue: #81B3D2;
--gray: #eeeeee;
--grai-triangle:#CACACA;
            /*popap color*/
--light-brown:#766357;
--brown: #604E43;
--dark-brown:#503E33;
--gray-popap: #f2f2f2;
--gray-toggle: #ABABAB;
--gray-toggle-opacity: rgba(171,171,171,0.3);
--gray-blocked-checkbox:#6A6A6A;
--box-shadow-main:  rgba(0, 1, 1, 0.2);
--box-shadow-modal: rgba(0, 1, 1, 0.15);
--minus-back: #A9A9A9;
--gray-after-hover: #EBEBEB;
            /*range color*/
--range-opacity: rgba(255,255,255,0.3);

            /*text color*/
--black-text: #000000;
--black-text-opacity: rgba(0,0,0,0.3);
--light-black: #333333;
--raiting-text-color: #666666;
--white-opacity: rgba(255,255,255,0.3);

            /*footer color*/
--background-footer:rgba(255,255,255,0.9);
--dark-blue: #669EC0;
--darker-blue: #5496BD;
            /*hotel color*/
--line-gray: #e5e5e5;
       /*color if the image didn't load*/
--PicDidntLoad:#757575;
}
     

            /* Global */

body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--black-text);
    text-transform: uppercase;
    background-color: var(--background-main);
    
}

.page a {
    text-decoration:none;
}

img {
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
                /* Grid*/
.page {
    height: 100%;
    
}
.page-body {
    min-height: 100%;
    display:grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    
    
    
}
                /*Main header*/
.main-header {
    width:1200px;
    margin: 0 auto;
     box-shadow: 0px 5px 15px var(--box-shadow-main);
}
               
                /* Main navigation*/
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--black-text);
    background-color: var(--white);
    margin: 0;
    padding: 0;
    
}
.site-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 1200px; 
    list-style: none;
}
.site-navigation a {
    color: var(--black-text);
    font-weight: bold;
   display: block; 
    margin: 14px 0 16px ;
}
.site-navigation li {
    display: flex;
    justify-content: center;
    width: 229px;
}
.main-navigation {
  /*  display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;*/
    position: relative;
}
.nav-main-logo {
    position: absolute;
    transform:translateX(-50%);
    left: 50%;
    margin: 0 auto;
    text-align: center;
}
.f1 {
    display: flex;
    justify-content: center;
    
    margin: 0;
    margin-left: 5px;
    padding: 0;
}
.f2 {
    display: flex;
    justify-content: flex-end;
    
    margin: 0;
    padding: 0;
}
 /*user navigarion */
 

.work:hover {
    color: var(--blue);
}
.work:focus { 
   color:var(--light-brown);
}
.work:active {
   color: var(--black-text-opacity);
}

    /*first-screen*/
.first-screen {
    height: 509px;
    background-image:url("../img/welcome.svg"),
     url("../img/background photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
     /*box-shadow: 0px 5px 15px var(--box-shadow-main);*/
}

.first-screen::before {
    content:"";
    position:absolute;
    top: 453px;
    left:0px;
    width: 1200px;
    height: 57px;
    background-image: url("../img/Shape.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
}
    
                /*Container*/
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    /* padding: 0 40px;*/
    
     ;
     
}
                /*Logo*/
 .nav-main-logo { 
    order: 1;
    justify-self: center;
    z-index: 1;
}
.main-header-bar {
background-color: var(--white);

}

               

                /*descrition*/

.description {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--white);
}
.description b {
    margin: 0 auto;
    width:470px;
    height: 80px;
    font-size:21px;
    line-height:26px;
    font-weight: bold;
    margin-top: 41.5px;
    padding-bottom: 16.5px;
}
.description p {
    width: 519px;
    margin: 0 auto;
    font-size:14px;
    line-height:26px;
   margin-bottom: 51px;
}
.features-list,
.features-under-list {
    list-style:none;
}
.blue {
    background-color:var(--blue);
}
.gray {
    background-color:var(--gray);
}
/* features*/


.features-list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
     
}
             
.features-item {
    display: flex;
    justify-content: stretch;
       
}
.flex-feature {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0;   
}
.flex-feature-img {  
    height:256px ;
    width: 800px;
}
       /*Смена местами картинок*/
.left-picture {
    order:1;
}
.right-feature {
    order: 2;
}
                            /*продолжение остального*/
.flex-feature h3 {
    width: 122px;
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 25px;
}
.second {
    margin-top: 0;
}
.third {
    width: 330px;
    margin-top: 10px;
    margin-left: 35px;
}
.features-item h3,
.features-item1 h3 {
    font-size: 21px;
    line-height: 21px;
    text-align:center;
    font-weight:bold;
    color:var(--white);
}
.features-item p {
    font-size: 14px;
    line-height: 21px;
    text-align:center;
    color:var(--white);
    
}
.blue img {
    width: 800px;
    height: 256px;
    background-color: var(--PicDidntLoad);
}

.gray h3 {
    color: var(--black-text);
    padding-top: 26px;
}
            /* Under list */
.features-under-list {
    display: flex;
    height: 330px;  /* с учетом расстояние для иконок*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin:0;
    padding: 0;
    background-color: var(--white);
    
}
.features-under-list-item b {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: var(--black-text);
    display: inline-block;
    outline: 1px solid red;
    margin-top: 82px;
    margin-bottom: 20px;
    
}
.features-under-list-item p {
    margin: 0;
}
.house b::before {
    content:"";
    position:absolute;
    top: -17px;
    left:90px;
    width: 74.69px;
    height: 72px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.eat b::before {
    content:"";
    position:absolute;
    top: -17px;
    left:90px;
    width: 74.69px;
    height: 70px;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;}

.souvenirs b::before {
    content:"";
    position:absolute;
    top: -17px;
    left:95px;
    width: 74.69px;
    height: 77px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;}
.house,
.eat,
.souvenirs {
    position: relative;
}
.features-under-list-item p {
    width: 254px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--light-black);
}
.gray p {
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
}
    /* gray feature (последний блок преимуществ)*/
.gray-feature {
    display: flex;
    justify-content: space-around;
    margin:0;
    padding: 0;
    background-color: var(--gray);
    }
.gray-feature li {
    height: 256px;
   
    align-items: center;
}
.gray {
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    
}
.gray p:nth-child(3) {
    width: 207px;
    padding-bottom: 26px;
}

            /* interested */
.interested {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 291px;
    background-color: var(--white);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
   position:relative;
}
.interested b {
    font-size: 30px;
    line-height: 24px;
    color: var(--black-text);
    margin-top: 56px;
    width: 440px;
    
}
.interested p {
    font-size: 14px;
    line-height: 24px;
    color: var(--black-text);
    margin: 0;
    padding: 0;
    margin-bottom: 140px
  
}
.interested a {
    background-color: var(--blue);
    color: var(--white);
    font-size: 21px;
    line-height: 26px;
}
.interested a:hover {
    background-color: var(--dark-blue);
}
.interested a:active {
    background-color: var(--darker-blue);
    color: var(--white-opacity);
    }

/*дальше тут должен быть попап, и по идее "поиск гостиницы" уже должен быть в нем*/
.map {
    width:1200px;
    height:594px;
    background-color: var(--PicDidntLoad);
}
.map iframe {
    border: 0px;
}
            /* footer*/
.footer-flex {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

.footer {
    background-color: var(--background-footer);
    text-align:center;
    color: inherit;
    text-decoration:none;
    outline-offset: -5px;
    width: 1200px;
    margin:-120px auto;
    z-index: 1;
    
   
}

.info {
    font-size: 21px;
    line-height: 26px;
    font-weight:bold;
}
.info a {
    color:inherit;
}
.social {
    margin-top: 36px;
}
.social ul{
    display: flex;
    margin: 0;
    padding: 0;
    
    flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
}
.social-button {
  display: flex;
  
  
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  background-color: var(--blue);
  width: 46px;
  height: 48px;
}
.social li { 
    list-style-type:none;
}


.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
   
}

.social a:hover {
    background-color: var(--dark-blue);
}
.social a:focus {
    background-color: var(--darker-blue);
    
}
.social-button:focus path{
fill-opacity: 0.3;
}
    /* footer-copiright*/
.footer-copyright a {
    background-image: url();
}
.footer-copyright a:hover {
    background-image: url();
}
.footer-copyright a:focus {
    background-image: url();
}
.div-copyright {
    display:flex;
    width: 198px; 
    align-items: center;
    margin: 0;
    padding:0;
    justify-content: space-between;
}
.div-copyright a:hover path {
    fill: var(--blue);
}
.div-copyright a:focus path {
    fill-opacity: 0.3;
}


                    /* HOTEL  */
.active {
    color: var(--blue) !important;
}
            .filter {      /* фильтр для сортировки*/
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.sort-header {
    font-size: 12px;
    line-height: 18px;
    color: var(--black-text);
    
}
.sorting {
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    color: var(--black-text);
    /*opacity: 0.3;*/   
}
.sorting a{
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    color: var(--black-text);
    /*opacity: 0.3;*/   
}
.underline {
    opacity: 0.3;
    border-bottom: 1px  dotted var(--blue);
}
.underline:hover {
    color: var(--blue);
}
.underline:focus {
    color: var(--black-text);
    border-bottom: none;
    opacity: 1;
}
.active-sorting {
    color: var(--blue) !important;
    
    
}
            /* change color of triangle */
.sorting-triangle li {
    background-color: var(--gray-triagle);
}
.not-active-triangle a:hover path {
    fill: var(--black-text);
  
}
.not-active-triangle a:active path {
    fill:var(--blue); 
}


.triangle-active {
    background-color: var(--blue);
}
        /* content */
.content {
    background-color: var(--white);
}
.content li {
    list-style: none;    
}
.content h3 {
    font-size: 21px;
    line-height: 26px;
    color: var(--black-text);
}
.content h3:hover {
    color: var(--blue);
}
.content h3:active {
    opacity: 0.3;
}
.content p {
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
    list-style: none;
}
.hotel-detals {
    background-color: var(--blue);
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    width: 110px;
  padding: 3px 17px 3px;
  box-sizing: border-box;
    text-align: center;
 
}
.hotel-detals:hover {
    background-color: var(--dark-blue);
}
.hotel-detals:active {
    background-color: var(--darker-blue);
    color: var(--white-opacity);
}
.hotel-reservation {
    background-color: var(--light-brown);
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    width: 142px;
    padding: 3px 16px 3px;
    box-sizing: border-box;
    text-align: center;
}
.hotel-reservation:hover {
    background-color: var(--brown);
}
.hotel-reservation:focus {
    background-color: var(--dark-brown);
    color: var(--white-opacity);
}
.rating {
    background-color: var(--gray-popap);
    font-size: 14px;
    line-height: 21px;
    color: var(--raiting-text-color);  
    width: 110px;
    padding: 3px 12px 3px 15px;
    box-sizing: border-box;
}


            /* flex hotel*/

        /* popap filter*/
.form-second-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    /*height: 217px;*/  /* убрать жесткую высоту элемента*/
    background-image: url("../img/background-hotel.jpg");
}
.infrastructure {
    margin-left: 72px;
  
}
.type-of-housing {
    margin-left: 72px;
   
}
.range{
    margin-left: 348px;
    
}
.filter-option label {
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    margin-bottom: 23px;
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
} 


  /* filter-main*/
  .filter-main fieldset{
    padding: 0;
    margin: 0;
    border: none;
}
.filter-option {
    padding:0;
    margin: 0;
    list-style: none;
}


.no-check + label::before {         /* класс no-check  чтобы нормально отобразить не выбранные квадратики, а должен быть .filter-input-checkbox*/
    content: "";
    position: absolute;
    left: -37px;
    top: 0px;
    width: 23px;
    height: 23px;
    background: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.filter-input-checkbox:checked + label::after {
    content:"";
    position: absolute;
    left: -37px;
    top: 0px;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: center;
}


        /* range */
.range {
  /*  margin: 347px;*/
    padding: 0;
    

}
.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    width: 135px;
    margin-top: 26.5px;
}
.filter-item legend {
    font-family: inherit;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
}
.range-control {
    height: 40px;
    margin-bottom: 33px;
    padding-top: 10px;
    position: relative;
}
.range-control .scale {
    height: 2px;
    background: var(--range-opacity);
    
}
.range-control .bar {
    width: 80%;
    height: 2px;
    background: var(--white); 
   
}
.range-control .toggle {
    position: absolute;
    top: -10px;
    left: 0;
    width: 3.8px;
    height: 3.8px;
    padding: 0px;
    border: 7.64px solid var(--white);
    background-color: var(--gray-toggle);
    border-radius: 50%;
    position: relative;
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 2px 0px 0 var(--gray-toggle-opacity);
}
.range-control .toggle-max {
    top: -30px;
    left: 233px;
}
.toggle:hover {
    transform: scale(1.2 , 1.2)
}

.price-control input {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    width: 150px;
  text-align: center;
  color: var(--white);
  border:none;
  background: none;
}
/* разделительная палочка  на стоимости, надо придумать отступы сверху и снизу*/
.min-price {
    border-right: 2px solid var(--white);    
}

.price-control {
    margin-bottom: 11px;
    margin-top: 10px;
    border: 2px solid var(--white);
    width:317px;
}
.range{
    display:flex;
    flex-direction: column;
   /* margin: 0;*/
    padding:0;
    align-items: center;
}
.range form{
    height:145px;
}
.look-button a {
    border: 2px solid var(--white);
    width: 137px;
    height: 36px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);  
}
    
   
.look-button a:hover{
    color: var(--black-text);
    background-color: var(--white);
    
}

        /* hotels main*/
.flex-sort {
    display: flex;
    background-color: var(--white);
    align-items: center;
    border-bottom: 1px solid var(--line-gray);
    height: 86px;
    margin: 0;
    padding: 0;
}
.filter {
    margin: 0;   
    margin-left: 73px;
    width: 126px;
}
.sort-header {   
    margin-left: 46px;   
}
.sorting {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    margin-left: 40px;
    width: 239px;
}
.sorting-triangle {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 73px;
    margin-left: 503px;
}
/* flex content*/
/*.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;    
}*/
    /*grid content*/
.content {
    display: grid;
    grid-template-columns: 1200px;
    margin:0;
    padding: 0;
}
.catalog-item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 150px;
    border-bottom: 1px solid var(--line-gray);
}
        /* hotel box*/
.hotel-image {
    
    height: 90px;
    width: 135px;
    margin-left: 73px;

    background-color: var(--gray); /*если не загрузится картинка*/
}
.price{
    margin-left: 29px;
   
   
}
.price h3 {
    margin: 0;
}

.rating-box {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    margin-left: 522px;
    
}
.price-2 {
display: flex;

margin: 0;
padding: 0;

}
.price-2 p:first-child{
    width: 107px;
    margin-right: 9px;
}




            /* modal window*/
            
.container {
    position: relative;
}

.modal {
    display:flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    top:205px;
    right: 0;
    left: 0;
    margin: auto;
    background: var(--white);
    width: 586px;
    height:481px;
    box-shadow: 0px 7px 15px var(--box-shadow-modal);
}
.search-hotels {
    
    background: var(--light-brown);
    color: var(--white);
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    
    margin-bottom: 26px;
}
.search-hotels h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    height: 86px;
    margin: 0;
    padding: 0;
}
.search-hotels h2:hover {
    background-color: var(--brown);
}
.search-hotels h2:active {
    background-color: var(--dark-brown);
    color: var(--white-opacity);
}
.input-field {
    height:395px;
    display: flex;
   flex-direction: column;
  /* width: 38px;*/
  
   
}
.input-field ul{
    list-style: none;
}

.appointment-item {
    display:flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 38px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    margin-top: 29px;
}

.people {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
   
}
.people li:first-child {
    margin-right: 33px;
}
.people input{
    width: 36px;
    border: none;
}

.search-button {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 458px;
    height: 58px;
    background-color: var(--blue);
    margin-top: 54px;
    
}
.residence-time input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
     background-color: inherit;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: inherit;
}
.residence-time svg {
    margin-left: 30px;
}
.appointment-item label {
    margin-right: 30px;
}
.people-1 label {
    margin-right: 50px;
}

.input-back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-main);
    height: 38px;
    width: 346px;
    padding: 0 9px;
}

.input-back:hover {
background-color: var(--gray-after-hover);
}
.input-back:active {
    background-color: var(--white);
    border: 2px solid var(--line-gray);
}
.input-back-people {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-main);
    height: 38px;
    width: 114px;
    padding: 0 9px;
}

.input-back-people input {
    background-color: var(--background-main);
}
.people-1 {
    margin-right: 50px;
}
.appointment-item svg:hover path {
    fill: var(--blue);
}
.appointment-item svg:active path {
    fill: var(--black-text);
}
.minus {
    height: 3px;
    width: 10px;
    background-color: var(--minus-back) ;
}
.minus:hover  {
    background-color: var(--blue);
}
.minus:active  {
    background-color: var(--black-text);
}