:root {
--background-main: #f2f2f2;
--white:#ffffff;
--blue: #81B3D2;
--gray: #eeeeee;
--grai-triangle:#CACACA;
            /*popap color*/
--light-brown:#766357;
--brown: #604E43;
--dark-brown:#503E33;
--gray-popap: #f2f2f2;

            /*text color*/
--black-text: #000000;
--light-black: #333333;
--raiting-text-color: #666666;

            /*footer color*/
--background-footer:rgba(255,255,255,0.9);
--dark-blue: #669EC0;
--darker-blue: #5496BD;
            /*hotel color*/
--line-gray: #e5e5e5;
       /*color if the image didn't load*/
--PicDidntLoad:#757575;
}
     

            /* Global */

body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--black-text);
    text-transform: uppercase;
    background-color: var(--background-main)
}

.page a {
    text-decoration:none;
}

img {
    max-width: 100%;
    height: auto;
}
                /* Grid*/
.page {
    height: 100%;
}
.page-body {
    min-height: 100%;
    display:grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
                /*Main header*/
.main-header {
    width:1200px;
    margin: 0 auto;
    
}
               
                /* Main navigation*/
.main-navigation {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 70px;
    font-size: 14px;
    line-height: 26px;
    color: var(--black-text);
    background-color: var(--white);
}
.site-navigation {
    grid-column: -1/1;
    grid-row: 1;

    margin: 0;
    padding: 0;
    list-style: none;
}
    /*first-screen*/
.first-screen {
    height: 509px;
    background-image: url("../img/background photo.jpg");
    background-repeat: no-repeat;
    background-position:center;
}
                /*Container*/
.container {
    width: 1200px;
    margin: 0 auto;
     padding: 0 40px;
}
                /*Logo*/
 .nav-main-logo { 
    order: 1;
    justify-self: center;
}
.main-header-bar {
background-color: var(--white);

}

                /*user navigarion */
.site-navigation a {
    color: var(--black-text);
}

.work:hover {
    color: var(--blue);
}
.work:focus { 
    color: var(--black-text);
    opacity: 0.3;
}
                /*descrition*/

.description {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.description b {
    margin: 0 auto;
    width:470px;
    height: 80px;
    font-size:21px;
    line-height:26px;
    font-weight: bold;
   
    padding-bottom: 16.5px;
}
.description p {
    width: 519px;
    margin: 0 auto;
    font-size:14px;
    line-height:26px;
   
}
.features-list,
.features-under-list {
    list-style:none;
}
.blue {
    background-color:var(--blue);
}
.gray {
    background-color:var(--gray);
}
/* features*/


.features-list {
    display: flex;
    padding: 0 0;
    margin: 0 0;
    flex-direction: column;
     
}
                    /*Смена местами картинок*/
.left-picture {
order:1;
}
.right-feature {
    order: 2;
}
                    /*продолжение остального*/
.features-item,
.features-item1 {
    display: flex;
    justify-content: stretch;
       
}
.flex-feature {
    display: flex;
    flex-direction: column;
    width: 400px;
    
    
}
.flex-feature-img {
   
    height:256px ;
    width: 800px;
}
.flex-feature h3 {
    width: 122px;
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 25px;
}
.third {
    width: 297px;
    margin: 0 auto; 
}
.features-item h3,
.features-item1 h3 {
    font-size: 21px;
    line-height: 21px;
    text-align:center;
    font-weight:bold;
    color:var(--white);
}
.features-item p,
.features-item1 p {
    font-size: 14px;
    line-height: 21px;
    text-align:center;
    color:var(--white); 
}
.blue img {
    width: 800px;
    height: 256px;
    background-color: var(--PicDidntLoad);
}

.gray h3 {
    color: var(--black-text);
    padding-top: 26px;
}
            /* Under list */
.features-under-list {
    display: flex;
    height: 330px;  /* с учетом расстояние для иконок*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin:0 0;
    padding: 0 0;
    background-color: var(--white);
    
}
.features-under-list-item b {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: var(--black-text);
   
}
.features-under-list-item p {
    width: 254px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--light-black);
}
.gray p {
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
}
    /* gray feature (последний блок преимуществ)*/
.gray-feature {
    display: flex;
    justify-content: space-around;
    margin:0 0;
    padding: 0 0;
    background-color: var(--gray);
    }
.gray-feature li {
    height: 256px;
   
    align-items: center;
}
.gray {
    display: flex;
    flex-direction: column;
    margin:0 0;
    padding: 0 0;
    
}
.gray p:nth-child(3) {
    width: 207px;
    padding-bottom: 26px;
}

            /* interested */
.interested {
    text-align: center;
    height: 291px;
}
.interested b {
    font-size: 30px;
    line-height: 24px;
color: var(--black-text);
}
.interested p {
    font-size: 14px;
    line-height: 24px;
    color: var(--black-text);
}
.interested a {
    background-color: var(--light-brown);
    color: var(--white);
    font-size: 21px;
    line-height: 26px;
}
.interested a:hover {
    background-color: var(--brown);
}
.interested a:focus {
    background-color: var(--dark-brown);
    color: var(--white);
    opacity: 0.3;}
/*дальше тут должен быть попап, и по идее "поиск гостиницы" уже должен быть в нем*/
.map {
    width:1200px;
    height:594px;
    background-color: var(--PicDidntLoad);
}
            /* footer*/
.footer-flex {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 0;
    width: 1200px;
    border: 1px solid green;
}

.footer {
    background-color: var(--background-footer);
    text-align:center;
    color: inherit;
    text-decoration:none;
    outline-offset: -5px;
   
}

.info {
    font-size: 21px;
    line-height: 26px;
    font-weight:bold;
}
.info a {
    color:inherit;
}
.social li { 
    list-style-type:none;
}
.footer-copyright {
    font-size: 14px;
    line-height: 26px;

}
    /*footer-social*/
.social a {
    background-color: var(--blue);
}
.social a:hover {
    background-color: var(--dark-blue);
}
.social a:focus {
    background-color: var(--darker-blue);
}
    /* footer-copiright*/
.footer-copyright a {
    background-image: url();
}
.footer-copyright a:hover {
    background-image: url();
}
.footer-copyright a:focus {
    background-image: url();
}


                    /* HOTEL  */
.active {
    color: var(--blue) !important;
}
.filter {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.sort-header {
    font-size: 12px;
    line-height: 18px;
    color: var(--black-text);
}
.sorting {
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    color: var(--black-text);   
}

.underline {
    border-bottom: 1px  dashed var(--blue);
}
.underline:hover {
    color: var(--blue);
}
.underline:focus {
    color: var(--black-text);
    border-bottom: none;
}
.active-sorting {
    color: var(--blue);
}
            /* change color of triangle */
.sorting-triangle li {
    background-color: var(--gray-triagle);
}
.not-active-triangle a:hover {
    background-color: var(--black-text);
}
.not-active-triangle a:focus {
    background-color: var(--blue);
}
.triangle-active {
    background-color: var(--blue);
}
        /* content */
.content {
    background-color: var(--white);
}
.content li {
    list-style: none;    
}
.content h3 {
    font-size: 21px;
    line-height: 26px;
    color: var(--black-text);
}
.content h3:hover {
    color: var(--blue);
}
.content h3:focus {
    opacity: 0.3;
}
.content p {
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
    list-style: none;
}
.hotel-detals {
    background-color: var(--blue);
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    text-align: center;
}
.hotel-detals:hover {
    background-color: var(--dark-blue);
}
.hotel-detals:focus {
    background-color: var(--darker-blue);
    opacity: 0.3;
}
.hotel-reservation {
    background-color: var(--light-brown);
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    text-align: center;
}
.hotel-reservation:hover {
    background-color: var(--brown);
}
.hotel-reservation:focus {
    background-color: var(--dark-brown);
    opacity: 0.3;
}
.rating {
    background-color: var(--gray-popap);
    font-size: 14px;
    line-height: 21px;
    color: var(--raiting-text-color);  
}